#placeholder{
    font-size: 50px;
}

#vintage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    
}

.rust{
    width: 20vw;
    height: 20vh;
}

#butt{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}